:root {
  --primary-color: red;
  --secondary-color: rgb(0, 0, 0);
  --accent-color: white;
  --background-color-with-opacity: rgba(38, 38, 38, 0.246);
  --background-color: rgb(38, 38, 38);
  --hover-color: rgb(53, 53, 53);
}

* {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  display: inline-block;
  width: fit-content;
  min-width: 45px;
  color: var(--accent-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}

.hero {
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  background-image: radial-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.498),
      rgb(0, 0, 0)
    ),
    url("../images/BA pops sign up perspective.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

.title,
.subtitle {
  color: var(--accent-color);
  text-align: center;
  margin: 10px;
  width: 100%;
  box-sizing: border-box;
}

.top {
  width: 100%;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  padding: 20px;
  align-items: center;
  box-sizing: border-box;
  position: absolute;
  top: 10px;
}

.top img {
  max-height: 50px;
}

.top select {
  margin: 10px 0px 10px 10px;
}

.top button {
  margin: 10px 10px 10px 0px;
}

.top-right {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 12px;
}

.top select {
  max-width: 500px;
  background-color: rgba(38, 38, 38, 0.798);
  border-radius: 4px;
  color: var(--accent-color);
  border: 1px var(--accent-color) solid;
  font-size: 16px;
  padding: 10px;
}

.signupDiv {
  margin: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 90%;
  box-sizing: border-box;
  flex-direction: row;
  gap: 12px;
}

.signupDiv input[type="text"] {
  width: 80%;
  max-width: 600px;
  background-color: rgba(38, 38, 38, 0.798);
  border-radius: 4px;
  padding: 20px 16px;
  color: var(--accent-color);
  border: 1px var(--accent-color) solid;
  font-size: 16px;
  max-height: 65px;
}

.signupDiv button {
  width: 20%;
  max-width: 200px;
}

.section-first {
  width: 100%;
  display: inline;
  padding: 72px 0px;
  background-color: black;
  margin: 0px;
  margin-top: 8px;
}

.subsection-first {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-left-first {
}

.section-left-first h1,
p {
  color: var(--accent-color);
  text-align: left;
}

.section-right-first {
  width: fit-content;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: end;
}

.section-right-first img {
  width: 100%;
  max-width: 100%;
}

.section-second {
  width: 100%;
  display: inline;
  padding: 72px 0px;
  background-color: black;
  margin: 0px;
  margin-top: 8px;
}

.subsection-second {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-left-second {
}

.section-left-second h1,
p {
  color: var(--accent-color);
}

.section-right-second img {
  width: 100%;
  max-width: 100%;
}

.section-faq {
  width: 100%;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin: 0px;
  margin-top: 8px;
}

.faq-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.faq-subcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 0px 8px 0px;
  gap: 1px;
}

.faq-button {
  width: 100%;
  text-align: left;
  background-color: var(--background-color);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  border-radius: 0px;
  border: 0px;
}

.faq-button:hover {
  background-color: rgb(65, 65, 65);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-in;
  background-color: var(--background-color);
  padding: 0px 24px;
  text-align: left;
}

.shown {
  max-height: fit-content; /* Adjust this value based on your content */
  padding: 24px;
  transition: all 0.2s ease-out;
  margin-top: 0px;
}

.bottom {
  width: 100%;
  background-image: none;
  background-color: var(--secondary-color);
  padding: 10px;
  box-sizing: border-box;
  min-height: fit-content;
}

footer {
  width: 100%;
  background-color: var(--secondary-color);
  color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

footer ul {
  list-style: none;
  width: calc(100% + 0.75rem);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0px;
}

footer li {
  flex: 0 0 calc(25% - 0.75rem);
  
  margin-top: 1rem;
  margin-left: 0.75rem;
}
.footer-title {
  width: 80%;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
  padding: 24px 0px;
}
.fotter-container {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
}

@media screen and (max-width: 700px) {
  .signupDiv {
    flex-direction: column;
    align-items: center;
  }
  .signupDiv button {
    width: 150px;
    margin: 12px;
  }
}

@media screen and (max-width: 600px) {
  .top {
    position: unset;
    top: 0px;
  }
}
