:root {
  --primary-color: red;
  --background-color: white;
  --accent-color: rgb(201, 201, 201);
  --step-count-color: rgb(98, 98, 98);
}

* {
  font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
}
body {
  background-color: var(--background-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  width: 100%;
  height: 10%;
  margin: 0%;
  padding: 0%;
}

header {
  border-bottom: 1px var(--accent-color) solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.headerIcon {
  margin-left: 2%;
}

.goBackButton {
  color: #333;
  margin-right: 2%;
}

.goBackButton button {
  border: none;
  background-color: transparent;
  font-size: 19px;
  font-weight: 500;
}

.goBackButton button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.progressionTrack {
  width: 100%;
  margin: 2% 0%;
}

.progressionTrack p {
  margin-left: 2%;
  font-size: 20px;
  text-wrap: wrap;
}

main {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.currentProgressStage {
  color: var(--primary-color);
  font-weight: 900;
}

.informationPanel {
  width: 100%;
}

.stepCount {
}

.selectOfferText {
  font-size: 32px;
}
.offerPanel {
  max-width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2%;
  padding: 24px 38px;
}

.offer {
  min-width: 30%;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 18px;
  margin: 12px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(128, 128, 128, 0.4);
  transition: margin 250ms ease-in-out, box-shadow 250ms ease-in-out,
    border-color 250ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  cursor: pointer;
}

.offerHeader {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  border: none;
  border-radius: 12px;
  padding-top: 10px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0px;
  margin: 8px 8px 0px;
  color: var(--background-color);
  overflow: none;
  min-height: 83px;
}

.offerHeaderTitle {
  font-size: 18px;
  font-weight: 900;
}
.offerHeaderSubtitle {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}
.offerHeaderSpan {
  width: 100%;
  text-align: right;
}

.offerBody {
  margin: 16px 0px;
  padding: 0px 25px;
}
.offerItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(128, 128, 128, 0.4);
  padding: 12.5px 0px;
}

.offerItemName {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.53846;
  color: rgb(118, 118, 118);
}

.offerItemValue {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
}

.firstItem {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.7);
}

.lastItem {
  border: none;
}
.offer:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 10px 0px;
}

.selected {
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 10px 0px;
}
.selected:hover {
  box-shadow: rgba(0, 0, 0, 0.37) 0px 4px 10px 0px;
}

.nextSectionButton {
  margin: 24px 0px;
  display: inline-block;
  width: fit-content;
  width: 50%;
  color: var(--background-color);
  background-color: var(--primary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  padding: 0.75rem 1.5rem;
  font-weight: bold;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
